h1 #{quiz.name} (#{quiz.short_name}) Quiz
form#quiz(method="post")
  ol.questions
    - each questionOrder, key in questionOrders
      li
        h3.question= questionOrder.question.content
        ol.answers
          //- List out all the answers
          - each answerOrder in answerOrders[key]
            li
              label
                input(type="radio", name=questionOrder.question.id, value=answerOrder.answer.id, checked=(attempts[key] && (answerOrder.answer.id == attempts[key].answer.id) ? "checked" : ""))
                span= answerOrder.answer.content
          //- Show the open-ended input box if it's open-ended
          - if(questionOrder.question.open_ended)
            li.open-ended
              label
                //- Show the open-ended text for input box
                - if(questionOrder.question.open_ended_text)
                  span= questionOrder.question.open_ended_text
                input(type="text", name=questionOrder.question.id + "_o", value=(attempts[key] && attempts[key].answer.content) || "")
  input(type="hidden", name="quizid", value=quiz.id)
  input(type="submit", name="fullsubmit", value="Done!")

#infobar
  | You're taking the <strong>#{quiz.name}</strong> quiz
  - if (quiz.author)
    | created by <i>#{quiz.author}</i>.
  - else
    | .
  br= quiz.description
  | \n Have fun!
